In [1]:
import sqlite3
import cleaning
import database
import numpy as np
import pandas as pd
import integration

/Users/qingweilan/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
results = integration.integrate_trr()

/Users/qingweilan/Desktop/ai339/ai339-project/data-cleaning/src/integration.py:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  remaining['officer_id'] = 'NULL'

In [4]:
results.columns

Index(['event_id', 'crid', 'beat', 'block', 'direction', 'street', 'location',
       'trr_datetime', 'indoor_or_outdoor', 'lighting_condition',
       'weather_condition', 'notify_OEMC', 'notify_district_sergeant',
       'notify_OP_command', 'notify_DET_division', 'party_fired_first',
       'officer_assigned_beat', 'officer_on_duty', 'officer_in_uniform',
       'officer_injured', 'officer_rank', 'subject_armed', 'subject_injured',
       'subject_alleged_injury', 'subject_age', 'subject_birth_year',
       'subject_gender', 'subject_race', 'officer_last_name',
       'officer_first_name', 'officer_middle_initial', 'officer_gender',
       'officer_race', 'officer_age', 'officer_appointed_date',
       'officer_birth_year', 'officer_unit_name', 'officer_unit_detail',
       'trr_created', 'latitude', 'longitude', 'point', 'officer_suffix_name',
       'id', 'officer_id', 'id_policeunit', 'unit_name', 'description', 'tags',
       'active', 'created_at', 'updated_at'],
      dtype='object')

In [7]:
results = results.rename(columns={
    'id_policeunit': 'officer_unit_id',
})

In [10]:
results['officer_unit_detail_id'] = results['officer_unit_id']

In [13]:
final_columns = [
    'id',
    'crid',
    'event_id',
    'beat',
    'block',
    'direction',
    'street',
    'location',
    'trr_datetime',
    'indoor_or_outdoor',
    'lighting_condition',
    'weather_condition',
    'notify_OEMC',
    'notify_district_sergeant',
    'notify_OP_command',
    'notify_DET_division',
    'party_fired_first',
    'officer_assigned_beat',
    'officer_on_duty',
    'officer_in_uniform',
    'officer_injured',
    'officer_rank',
    'subject_armed',
    'subject_injured',
    'subject_alleged_injury',
    'subject_age',
    'subject_birth_year',
    'subject_gender',
    'subject_race',
    'officer_id',
    'officer_unit_id',
    'officer_unit_detail_id',
    'point',
]

In [15]:
results = results[final_columns]

In [16]:
results.dtypes

id                          object
crid                        object
event_id                    object
beat                         Int64
block                       object
direction                   object
street                      object
location                    object
trr_datetime                object
indoor_or_outdoor           object
lighting_condition          object
weather_condition           object
notify_OEMC                 object
notify_district_sergeant    object
notify_OP_command           object
notify_DET_division         object
party_fired_first           object
officer_assigned_beat       object
officer_on_duty             object
officer_in_uniform          object
officer_injured              int64
officer_rank                object
subject_armed               object
subject_injured             object
subject_alleged_injury      object
subject_age                  Int64
subject_birth_year           int64
subject_gender              object
subject_race                object
officer_id                  object
officer_unit_id              int64
officer_unit_detail_id       int64
point                       object
dtype: object

In [4]:
trr = database.download('trr_trr_refresh')

In [4]:
policeunit = database.download('data_policeunit')

In [8]:
policeunit

,id,unit_name,description,tags,active,created_at,updated_at
0,1,000,Area 0,[],True,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
1,2,001,District 001,[],True,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
2,3,002,District 002,[],True,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
3,4,003,District 003,[],True,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
4,5,004,District 004,[],True,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
...,...,...,...,...,...,...,...
267,268,721,Force Review Unit,[],None,2021-01-05 19:46:53.994433-06:00,2021-01-05 19:46:53.994433-06:00
268,269,800,Finance Committee,[],None,2021-01-05 19:46:53.994433-06:00,2021-01-05 19:46:53.994433-06:00
269,270,801,Cook County State's Attorney Investigations,[],None,2021-01-05 19:46:53.994433-06:00,2021-01-05 19:46:53.994433-06:00
270,271,802,Administration,[],None,2021-01-05 19:46:53.994433-06:00,2021-01-05 19:46:53.994433-06:00
271,272,803,Fleet Management,[],None,2021-01-05 19:46:53.994433-06:00,2021-01-05 19:46:53.994433-06:00

In [10]:
policeunit[policeunit.duplicated(keep=False, subset=['description'])]

,id,unit_name,description,tags,active,created_at,updated_at
33,34,049,Unknown,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
70,224,660,Unknown,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
99,98,136,Caps,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
102,101,138,Caps,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
105,104,139,Caps,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
109,108,143,Court Section,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
111,110,144,Court Section,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
114,113,146,Canine Unit,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
170,169,261,Court Section,[],True,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
178,178,341,Canine Unit,[],True,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
237,238,911,Unknown,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
238,239,912,Unknown,[],False,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
244,245,720,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
245,246,028,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
246,247,031,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
247,248,040,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
248,249,041,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
249,250,047,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
250,251,052,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
251,252,054,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
252,253,056,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
253,254,064,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
254,255,093,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
255,256,095,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
256,257,185,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
257,258,194,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
258,259,271,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
259,260,272,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
260,261,273,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
261,262,274,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
262,263,275,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
263,264,661,None,[],None,2019-01-08 22:42:10.881224-06:00,2019-01-08 22:42:10.919043-06:00
264,265,150,None,[],None,2021-01-05 19:46:53.994433-06:00,2021-01-05 19:46:53.994433-06:00