In [4]:
import cleaning

In [5]:
cleaned_trrstatus = cleaning.process_trrstatus()

In [6]:
cleaned_trrstatus

,officer_rank,officer_star,status,status_datetime,officer_age,officer_first_name,officer_middle_initial,officer_last_name,officer_gender,officer_race,officer_birth_year,officer_appointed_date,officer_unit_at_incident,trr_report_id
0,OFFICER,4502,None,2016-04-12 11:53:00-05:00,36.0,Sylwia,None,Rejman,F,WHITE,None,2012-11-30,None,96449
1,SERGEANT,1543,None,2016-04-13 12:02:00-05:00,34.0,Niki,None,Campus,F,WHITE,None,2005-08-29,None,96449
2,LIEUTENANT,330,None,2016-04-13 02:36:00-05:00,55.0,Stephanie,None,Stuart,F,BLACK,None,1988-11-07,None,96449
3,OFFICER,17679,None,2016-04-12 11:49:00-05:00,31.0,Eugene,None,Vann,M,HISPANIC,None,2014-11-24,None,96450
4,SERGEANT,1543,None,2016-04-12 11:50:00-05:00,34.0,Niki,None,Campus,F,WHITE,None,2005-08-29,None,96450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63450,Sergeant of Police,None,SUBMITTED,2020-06-06 12:39:00-05:00,NaN,Charlie,S,Johnson,M,BLACK,1980,2002-10-28,2,6314297
63451,Lieutenant of Police,None,APPROVED,2020-06-07 01:17:00-05:00,NaN,Tamara,B,Margolis,F,WHITE,1974,1998-07-27,2,6314297
63452,Police Officer,None,SUBMITTED,2020-06-06 02:20:00-05:00,NaN,Karla,L,Espinoza,F,HISPANIC,1980,2016-08-29,25,6352461
63453,Sergeant of Police,None,SUBMITTED,2020-06-06 05:28:00-05:00,NaN,Mark,E,Flechsig,M,WHITE,1969,1998-05-04,25,6352461
63454,Lieutenant of Police,None,APPROVED,2020-06-07 09:56:00-05:00,NaN,Nelson,I,Perez,M,HISPANIC,1963,1994-05-02,25,6352461